.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #f8f8f8;
  flex-direction: column;
}

.wrapper {
  margin: 36px;
}

.header {
  display: flex;
  background-color: #000000d5;
  height: 54px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
}

.heading {
  color: white;
  font-weight: 900;
}

.heroText {
  font-weight: 900;
  font-size: 36px;
  margin: 16px;
  padding-right: 100px;
  color: #252525;
}
